.button {
  border-radius: 94px;
  background-color: var(--buttonBg);
  color: var(--firstText);
  font-weight: 700;
  font-size: 18px;
  padding: 20px 48px;
  min-width: 264px;
  border: none;
  transition: background 0.3s ease;
}

.button:disabled {
  border-color: var(--disabledButtonBorder);
  background: var(--disabledButtonBg);
  color: var(--disabledButtonText);
}

.button:not([disabled]):focus,
.button:not([disabled]):hover {
  background: var(--buttonBgHighlight);
  cursor: pointer;
}
