.lead-stripe {
  background-color: var(--mainBg);
  color: var(--firstText);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lead-stripe__logo {
  position: relative;
  max-width: 440px;
  top: -44px;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.lead-stripe__logo-label {
  margin-top: 10px;
}

.lead-stripe__description {
  margin: -14px auto 43px auto;
  max-width: 340px;
  text-align: center;
}

.lead-stripe__text-container {
  display: flex;
  align-items: center;
}

.lead-stripe__title {
  font-size: 28px;
  line-height: 36px;
  max-width: 500px;
  margin: 0;
}

.lead-stripe__title-highlight {
  color: var(--thirdText);
}

.lead-stripe__text {
  font-size: 16px;
  line-height: 26px;
  margin: 12px 0 36px;
  font-weight: 400;
}

.lead-stripe__border {
  background-image: url(../../../images/lead-stripe-border.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
  height: 24px;
  z-index: 1;
}

.lead-stripe__actions {
  position: relative;
  margin: 20px auto 0;
}

.lead-stripe__badge {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  transform: rotate(-6deg);
  padding: 4px 6px;
  background: var(--attentionBg);
  pointer-events: none;
}

.lead-stripe__badge_type_tablet {
  display: none;
}

.lead-stripe__badge_type_mobile {
  position: absolute;
  bottom: -16px;
  left: 0;
  transform: translateY(100%) rotate(-6deg);
  z-index: 5;
}

.lead-stripe__badge-text-row {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--firstText);
}

.lead-stripe__badge-text-row_highlighted {
  margin-bottom: 2px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 768px) {
  .lead-stripe {
    flex-direction: row-reverse;
  }

  .lead-stripe__logo-label {
    margin-top: 20px;
  }

  .lead-stripe__description {
    margin: 58px 15px 52px 0;
    max-width: 630px;
    flex-basis: 60%;
    text-align: left;
  }

  .lead-stripe__logo {
    top: -90px;
    margin: 0 0 0 auto;
    font-size: 24px;
  }

  .lead-stripe__title {
    font-size: 44px;
    line-height: 50px;
  }

  .lead-stripe__text {
    margin-top: 16px;
    font-size: 18px;
  }

  .lead-stripe__img {
    width: 85%;
  }

  .lead-stripe__badge_type_tablet {
    display: block;
  }

  .lead-stripe__badge {
    display: block;
    margin-left: 20px;
    padding: 8px 10px;
  }

  .lead-stripe__badge_type_mobile {
    display: none;
  }

  .lead-stripe__text-container {
    min-width: 550px;
  }
}

@media (min-width: 930px) {
  .lead-stripe__text-container {
    min-width: auto;
  }
}

@media (min-width: 1024px) {
  .lead-stripe__logo {
    font-size: 30px;
    right: 0;
  }

  .lead-stripe__img {
    width: auto;
  }

  .lead-stripe__badge-text-row_highlighted {
    font-size: 24px;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .lead-stripe__logo {
    font-size: 36px;
    right: 34px;
  }
}
