.throbber {
  display: inline-block;
  width: 38px;
  height: 16px;
  vertical-align: top;
}

/*.text-field__throbber {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  right: 10px;*/
/*  transform: translateY(-50%);*/
/*}*/

@-webkit-keyframes bounce {
  0%,
  60%,
  to {
    transform: scale(0.625);
  }

  30% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  60%,
  to {
    transform: scale(0.625);
  }

  30% {
    transform: scale(1);
  }
}

.throbber__bouncer {
  display: inline-block;
  transform: scale(0.625);
  width: 16px;
  height: 16px;
  vertical-align: top;
  border-radius: 50%;
  background: var(--firstThrobber);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.85s;
  animation-duration: 0.85s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.throbber__bouncer:not(:last-child) {
  margin-right: -5px;
}

.throbber__bouncer:nth-child(1) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.throbber__bouncer:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.throbber__bouncer:nth-child(3) {
  background: var(--secondThrobber);
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
