.subscription-options {
}

.subscription-options__title {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: var(--secondText);
  font-weight: 400;
  margin-top: 60px;
}

.subscription-options__list {
  list-style: none;
  max-width: 722px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondText);
  margin: 60px auto auto auto;
}

.subscription-options__item {
  display: flex;
  border-top: 1px solid var(--secondText);
  position: relative;
  margin: 0 -18px;
  align-items: center;
  min-height: 90px;
}

.subscription-options__item:last-child {
  border-bottom: 1px solid var(--secondText);
}

.subscription-options__item-text {
  margin: 16px 100px 16px 18px;
}

.subscription-options__item-img {
  position: absolute;
}

.subscription-options__item-img.show {
  top: calc(50% - 30px);
  right: 14px;
}

.subscription-options__item-img.book {
  top: calc(50% - 26px);
  right: 27px;
}

.subscription-options__item-img.safety {
  top: calc(50% - 26px);
  right: 30px;
}

.subscription-options__item-img.promo {
  top: calc(50% - 24px);
  right: 24px;
}

.subscription-options__button {
  margin: 26px auto 50px;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .subscription-options__title {
    margin-top: 80px;
    font-size: 34px;
  }

  .subscription-options__list {
    margin-top: 64px;
    font-size: 22px;
  }

  .subscription-options__item {
    min-height: auto;
  }

  .subscription-options__item-text {
    margin: 30px 130px 32px 40px;
  }

  .subscription-options__item-img.show {
    right: 54px;
  }

  .subscription-options__item-img.book {
    right: 67px;
  }

  .subscription-options__item-img.safety {
    right: 70px;
  }

  .subscription-options__item-img.promo {
    right: 64px;
  }

  .subscription-options__button {
    margin-top: 50px;
  }
}
