:root {
  --popupHeight: 520px;
}

.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 10;
}

.popup_open {
  display: flex;
}

.popup__wait {
  height: var(--popupHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__wait-throbber {
  margin-top: 20px;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--secondText);
  background-color: var(--popupBg);
  width: 100%;
  text-align: center;
  padding: 0 16px 30px;
  min-height: var(--popupHeight);
}

.popup__wait-container {
  height: 100%;
}

.popup__close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup__title {
  margin: 74px auto 0;
  font-weight: 700;
  font-size: 28px;
}

.popup__desc,
.popup__subtitle {
  font-size: 16px;
  line-height: 24px;
  margin: 10px auto auto auto;
}

.popup__subtitle {
  max-width: 280px;
  margin: 10px auto -24px;
  min-height: 72px;
  z-index: 10;
}

.popup__desc {
  min-height: 100px;
}

.popup__image-desc {
  flex: 1 0 auto;
  margin-top: 16px;
}

.popup__image-container {
  min-height: 204px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  margin-top: 12px;
}

.popup__button {
  width: 100%;
  margin: 16px auto auto auto;
  max-width: 343px;
}

.popup__input-container {
  position: relative;
  width: 264px;
  margin: auto;
}

.popup__input {
  padding: 11px 20px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  margin: 0 auto 24px;
}

.popup__subtitle-other-number {
  color: var(--linkText);
  border: none;
  background: none;
  transition: background 0.3s ease;
  cursor: pointer;
}

.popup__subtitle-other-number:hover,
.popup__subtitle-other-number:focus {
  color: var(--linkTextHighlight);
}

.popup__text_vis_inl {
  display: inline;
}

.popup__input-validate {
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 768px) {
  .popup {
    align-items: center;
  }

  .popup__container {
    width: calc(375px - 32px);
  }
}
