:root {
  --mainBg: #53b561;
  --firstText: #fff;
  --secondText: #333;
  --thirdText: #6a247d;
  --thirdTextHighlight: #a500bf;
  --linkText: cornflowerblue;
  --linkTextHighlight: #3679f1;

  --buttonBg: #6a247d;
  --buttonBgHighlight: #a500bf;
  --disabledButtonBorder: #d8d8d8;
  --disabledButtonBg: #ededed;
  --disabledButtonText: #999;

  --attentionBg: #ffa717;

  --overlay: rgba(0, 0, 0, 0.23);
  --popupBg: #fff;

  --firstThrobber: #00b956;
  --secondThrobber: #731982;
}

#root {
  max-width: 1440px;
  margin: auto;
  font-family: Inter, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.block-content {
  /*overflow: hidden;*/
}

p {
  margin: 0;
}

.common-paddings {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .common-paddings {
    padding: 0 40px;
  }
}

@media (min-width: 1280px) {
  .common-paddings {
    padding: 0 80px;
  }
}
