.header {
  margin: 14px auto 9px 10px;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .header {
    margin: 24px auto 26px 40px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin-left: 80px;
  }
}
