.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-bottom: 16px;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 20px auto;
}

.navigation-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-menu__link {
  text-decoration: none;
  color: var(--thirdText);
}

.navigation-menu__link:focus,
.navigation-menu__link:hover {
  color: var(--thirdTextHighlight);
  cursor: pointer;
}

.navigation__title {
  display: none;
}

.footer__copyright {
  color: var(--secondText);
  margin: 1em 0;
}

.footer__navigation {
  display: flex;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    margin: 100px 0 20px;
  }

  .footer__navigation {
    margin: 0;
  }
}
